workDir = "${projectDir}/output/work"

cleanup = false

params {
    outdir = "${projectDir}/output"
    // Required (must be provided on command line)
    input = null
    donors = null
    alt_n_col = null
    maf_col = null
    mutid_col = null
    donor_col = null
    dilution_col = null
    hit_threshold = 1
}
