workDir = "${projectDir}/output/work"

cleanup = false

params {
    // Required (must be provided on command line)
    input = null
    donors = null

    // Optional with defaults
    outdir = "${projectDir}/output"
    sdmc_col = "duplex_maf"
    mutid_col = "mutid"
    donor_col = "Donor ID"
    group_col = "Copy number"
    prefix = "precision"
}
